@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');
*, *::before, *::after{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
  --color-primary: #2b8d26;
  --color-primary-variant: #5dd457;
  --color-white: #fdfdfd;
  --color-secondary: #0d0d0d;
  --color-secondary-light: #555555;
  --color-secondary-variant: #ff2a2a;

  --container-width-lg: 80%;
  --container-width-md: 90%;

  --transition: all 500ms ease;
}

.btn {
  color: var(--color-gray-100);
  width: fit-content;
  margin: 0 auto;
  padding: 0.9rem 2rem;
  background: var(--color-primary);
  border-radius: 1.5rem;
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-secondary);
  color: var(--color-white);
}

.btn.lg {
  padding: 1.2rem 3rem;
  border-radius: 2rem;
  font-size: 1.1rem;
}

.btn.sm {
  padding: 0.4rem 1.2rem;
  font-size: 0.9rem;
  background: var(--color-primary);
  transition: var(--transition);
}

.btn.sm:hover{
  background: var(--color-secondary);
  color: var(--color-white);
}
.container {
  margin-top: 2rem;
}